h1 {
    margin:auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:  #11999E;
}
p{

}
body{
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    font-family: 'Merriweather', serif;
}
.top-container{
    background-color: #e0ebe8;
    padding-top: 100px;
}

.bottom-cloud{
    position:absolute;
    left: 300px;
    bottom:300px;
}

.top-cloud{
    position:absolute;
    right: 30%;
    top: 50px;
}

.profile-img{
    height: auto;
    width: 25%;
}
.c-img{
    height: auto;
    width: 25%;
    float:left;
    margin-right: 30px;
}

.cplus-img{
    height: auto;
    width: 27%;
    float:right;
    margin-right: 30px;
}

a{
    color:#11999E;  
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}

hr{
    border-top: 8px dotted grey;
    width: 10%;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .bottom-container{
    background-color: #66BFBF;
    padding: 30px;
  }
  .footer-link{
    margin: 15px;
  }
  .middle-container{
    margin: auto auto 50px auto;
  }
  .company-name{
    color: #EAF6F6;
    position: relative;
    top: 30px;
  }

  .profile-img{
    width: 20%;
  }